*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';
    color: #fff;
}

html{
    font-size: 62.5%  ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color : #8f919a;
}

img{
    filter: invert(1); 
    width: 10rem;
    height: 10rem;
    animation: animate 1s linear infinite alternate;
    margin-bottom: 2rem;

}

@keyframes animate {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(2rem);
    }
    0%{
        transform: translateY(0);
    }
    
}

body .container{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

.odometer{
    margin-top: 3rem;
    font-size: 5em;

}

.odometer{
    border-radius: 5rem;
}



h2{
    margin-top: 15rem;
    font-size: 8vw;
    color: #fff;
    
}