*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';
}

body{
    overflow-x: hidden;
    background-color: #15212d;

}


.container{
    position: relative;
    padding: 100px 150px;
}

.container h2{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.1em;
    color: #767f88;


}
.container p{
    font-size: 1.1;
    line-height: 1em;
    color: #767f88;
    margin-bottom: 25px;


}


.scrollTop{
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    
}

.scrollTop.active{
    bottom: 40px;
    visibility: visible; 
    opacity: 1;
}